<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3 project-detail-sb">
        <div class="project-sidebar-block">
          <img src="/image/mean.png" alt="" height="200px" class="card-img-top">
        </div>
      </div>

      <div class="col-md-9">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="/">Home</a></li>
            <li class="breadcrumb-item "><a href="#">Contact</a></li>
          </ol>
        </nav>
        <h2>Full Stack Development with MEAN</h2>
        <p>
          MEAN is a combination of MongoDB, Express-JS, and Angular-JS all of which run upon Node-JS. This was the
          platform that allowed us to create applications using as little code as possible while taking a high-level
          view of all the components that constitutes it. Learn all of the different aspects of full stack JavaScript
          development using the MEAN stack. We are not talking about any generators or MEAN frameworks here, we are
          talking about the masters of MongoDB, Express, AngularJS, and Node-JS. Throughout this course, we will show
          you how to use each of these technologies and how to use them together. Build Great JavaScript Applications
          using MongoDB, Express, AngularJS, and Node-JS. The overall aim of this course is to enable you to confidently
          build all different types of the application using the MEAN stack.
          <br>
          To do this, the course is divided into four sections, each section focusing on a different goal. The four
          sections all work together building a full application with an overall outcome of showing how to architect and
          build the complete MEAN application.
        </p>

      </div>
    </div>
  </div>
</div>