    <div class="wallpaper"></div>
    <div class="content">
        <aside class="side">
            <figure class="picture">
                <div class="picture-shadow"></div>
                <img id="pictureImage" class="picture-image" src="/image/bharath.jpg" alt="Portrait of Bharath" width="320" height="320">
                 {{!-- <img src="/image/bharath.jpg"  width="320" height="320" alt="Portrait of Bharath" > --}}
            </figure>
        </aside>
        <main class="about">
            <h1 class="name">
                Hi, I'm Bharath
            </h1>
            <p class="job">
                Web Developer
            </p>
            <hr class="hr">
            <div class="description">
                <p>
                    I spend my time traveling the world,
                    helping startups and tech businesses
                    hire the best people.
                </p>
            </div>
            <div class="contact">

                <a class="button" href="/projects">
                    Get in touch
                </a>
                <ul class="social">
                    <li>
                        <a>
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </main>
       </div>
        <noscript>
        <style type="text/css">
              .wallpaper {
                animation-name: zoomOut;
          }
              .picture {
                animation-name: dropIn;
          } </style>
    </noscript>